/* custom styles for Gastonotes app */

/* --rosso-corsa: #DC0B06ff;
--copper-penny: #B37477ff;
--charcoal: #3B4453ff;
--cultured: #F2F3F5ff;
--raisin-black: #241E20ff; */

.main-body {
    font-family: 'Roboto Slab', serif;

}

h1, h2, h3 {
	font-family: 'Viga';
	font-weight: 800 !important;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.row {
    padding-left: 15px;
    padding-right: 15px;
}

.btn-secondary {
	background-color: #3B4453;
	color: #F2F3F5;
	border: 0px;
  }
  
.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
	background-color: #B37477 !important;
	color: #F2F3F5;
	border: 0px;
  }
  
.btn-secondary:focus {
	box-shadow: 0 0 0 0.2rem rgba(179, 116, 119, 0.42);
}


#new_folder_button a, #new_recipe_button a, #recipe_from_url_button a {
	color: #DC0B06 !important;
}

#new_folder_button a:hover, #new_recipe_button a:hover, #recipe_from_url_button a:hover {
	color: #F2F3F5 !important;
}


/* .navbar button  {
    background-color: #FCC931;
    border-radius: 10px;
    border-color: #FCC931;
    text-align: center;
    color: #41483C;
    font-family: 'Roboto Slab', serif;
}

.navbar button:hover {
    background-color: #41483C;
    border-color: #41483C;

} */

.navbar li {
    color: #DC0B06;
    font-family: 'Roboto Slab', serif;
}

.navbar a:hover {
    color: #EEEEEE;
}


#search_bar {
    padding-right: 30px;
    padding-left: 15px;
    font-family: 'Roboto Slab', serif;
}

.folder_title:hover {
    color: #FCC931; 
}

#whole_recipe a {
    color: #FCC931;
}

body > div.container-fluid > div.row.main-body > div:nth-child(2) {
    padding-top: 15px;
}

#whole_recipe ul {
    padding-left: 0px;
}

#recipeingred ol{
    padding-left: 20px;
}

#recipeingred ul{
    padding-left: 20px;
}

#recipedirect ul{
    padding-left: 20px;
}

#recipedirect ol{
    padding-left: 20px;
}

#folder_directory h2 {
    display: inline;
}

#folder_directory>div {
    padding-left: 40px;
}

#recipes_lists ul {
    list-style-type: none;
}

#viewing_body_recipe>div {
    padding-top: 15px;
}

.recipe_title img{
    float: right;
}

#navbarSupportedContent ul{
    float: right;
}


.one {
	background-image: url("/static/images/dot-grid.png");
	background-repeat: repeat;
}

.bold {
	background: #F2F3F5
}

.navbar-custom {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: rgba(36, 30, 32, 0.7);
  }

header.masthead {
	overflow: hidden;
	padding-top: calc(17rem + 72px);
	padding-bottom: 17rem;
	background-image: url("/static/images/background03.jpg");
	/* background: linear-gradient(0deg, #F2F3F5  0%, #241E20  100%); */
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	background-size: cover;
}

header.masthead .masthead-content {
	z-index: 1;
	position: relative;
}

/* header.masthead .masthead-content .masthead-heading {
	font-size: 4rem;
  } */
  
header.masthead .masthead-content .masthead-subheading {
	font-size: 2rem;
  }
  
.btn-xl {
	text-transform: uppercase;
	padding: 1.5rem 3rem;
	font-size: 0.9rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
  }

.bg-primary {
	background-color: #DC0B06 !important;
}

.btn-primary {
	background-color: #DC0B06;
	border-color: #DC0B06;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
	background-color: #F2F3F5 !important;
	border-color: #DC0B06  !important;
	color: #DC0B06; 
}

.btn-primary:focus {
box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
}

.rounded-pill {
	border-radius: 5rem;
}

.py-5 {
	padding-top: 10rem !important;
	padding-bottom: 10rem !important;
  }

.cards {
	align-content: center;
}

.card-title img {
	width: 75 px;
	height: 75 px;
}

.bg-black {
	background-color: #241E20 !important;
	color: #DC0B06;
  }

footer.masterfoot {
	position: relative;
	overflow: hidden;
	padding-top: 10rem;
	padding-bottom: 10rem;
	background: linear-gradient(0deg, #241E20 0%, #F2F3F5  100%);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	background-size: cover;
}
  
/* --rosso-corsa: #DC0B06ff;
--copper-penny: #B37477ff;
--charcoal: #3B4453ff;
--cultured: #F2F3F5ff;
--raisin-black: #241E20ff; */