{% extends 'base.html' %}
{% block title %}Gastronotes - Home{% endblock %}

{% block body %}

  <div>

    <button id="signup" name="signup" type="button"><a href="/signup">Sign Up</a></button>
    <button id="login" name="login" type="button"><a href="/login">Log In</a></button>
  </div>

  <div>
    <h1>Gastronotes</h1>
    <h2>Your favorite recipes. Organized.</h2>
    <p>Collect and save your favorite recipes, all in one place. 
       No need to look across multiple devices' bookmarks. No more scrolling through
       pictures and ads. No more paper recipes. No more binders. Your recipes are
       now here and ready for you.</p>
  </div>

  <div>
    <!-- <img src="/static/image.png"> -->
  </div>

{% endblock %}