{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block body %}

<div>
    <div>
      <img src="">
    </div>

    <div>
      <form action="/login" method="POST">
        <input type="email" placeholder="Email" name="email" required>
        <input type="password" placeholder="Password" name="password" required>
        <input type="submit" name="submit" value="Sign In">
      </form>
    </div>

    <div>
      <h5>Don't have an account?</h5>
      <a href="/signup">Create an account</a>
    </div>

  </div>

{% endblock %}