{% extends 'base.html' %}
{% block title %}My Recipes{% endblock %}

{% block body %}

    <div>
        {% for folder in folders%}
            <h3 class="folder_title"><a href="/myfolders"> {{ folder.folder_title }} </a></h3>
        {% endfor %}

        <div id="recipe_title"></div>


        <!-- <section>
            <div>
                <h2>Recipe Info:</h2>
                <dl>
                    <dt>Title:</dt>
                    <dd id="recipe_title">Unknown</dd>
        
                    <dt>Ingredients:</dt>
                    <dd id="recipe_ingred">Unknown</dd>
        
                    <dt>Directions:</dt>
                    <dd id="recipe_direct">Unknown</dd>

                    <dt>Source:</dt>
                    <dd id="recipe_src">Unknown</dd>

                    <dt>Picture</dt>
                    <dd id="picture_url">Unknown</dd>
                  </dl>
            </div>
        </section> -->

    </div>

{% endblock %}