{% extends 'base.html' %}
{% block title %}My Recipes{% endblock %}

{% block body %}

    <div>

        {% for folder in folders%}
            <h3><a class="folder_title" id="{{folder.folder_id}}" value="{{folder.folder_id}}" href="/myfolders"> {{ folder.folder_title }} </a></h3>
        {% endfor %}


        <ul id="recipes"></ul>


        <div id="whole_recipe">
            <ul id="ingredients"></ul>
            <ul id="directions"></ul>
        </div>


        <div id="whole_recipe_edit">
            
        </div>


    </div>

{% endblock %}
