{% extends 'base.html' %}
{% block title %}My Recipes{% endblock %}

{% block body %}

    <div class="container-fluid">


        <!-- Navigation bar -->
        <nav class="navbar navbar-expand-md navbar-dark navbar-custom">
			<div class="container">
				<a class="navbar-brand" href="/">Gastronotes</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">

						<li class="nav-item" id="new_folder_button"> 
							<a class="nav-link" href="#">New folder</a> 
						</li>
						<li class="nav-item" id="new_recipe_button">
							<a class="nav-link" href="#">Recipe by hand</a>
						</li>
						<li class="nav-item" id="recipe_from_url_button">
							<a class="nav-link" href="#">Recipe by link</a>
						</li>

						<!-- <li class="nav-item">
							<a class="nav-link" href="#" id="msg"></a>
						</li> -->

					</ul>

					<form class="form-inline my-2 my-lg-0" id="search_bar">
						<input class="form-control mr-sm-2" id="search_input" type="search" placeholder="Search by keyword" aria-label="Search"></input>
						<button class="btn my-2 my-sm-0 btn-secondary" type="submit" id="search_button" value="search_button">Submit</button>
					</form>
					
				</div>
				
				<div>
					<!-- logout button -->
					<a href="/logout">
						<button id="logout" name="logout" type="button" class="btn btn-secondary">Log Out</button>
					</a>
				</div>
            </div>
		</nav>


        <div class="row main-body">

            <div class="col-3">

					<!-- a form to create new folder -->
					<div id="new_folder_field" hidden=True></div>

			
					<!-- folder titles / category selectors -->
					<div id="folder_directory">
						<h1>My folders:</h1>

							{% for folder in folders%}
								
								<div id="folder{{folder.folder_id}}">
									
									<h2 class="makeMeDroppable folder_title" id="{{folder.folder_id}}" value="{{folder.folder_id}}"> {{ folder.folder_title }}</h2>
									<span>
										<button class="delete_folder btn btn-default btn-sm" value="{{folder.folder_id}}"> 
											<img width="30 px" height="30 px" src="/static/images/icons8-delete-64.png"/>
										</button>
									</span>
								</div>
							{% endfor %}
							
					
					</div>


            </div>
            
            <div class="col-3" id="recipes_lists">
                <h1>My recipes:</h1>

                 <!-- a list of recipes -->
                <ul id="recipes"></ul>

                <ul id="search_list"></ul>

            </div>


            <div class="col-6" id="viewing_body_recipe">

                <!-- recipe body -->
                <div id="whole_recipe"></div>

                <!-- recipe edit body -->
                <div id="whole_recipe_edit"></div>
                <div id="new_recipe_add"></div>

                <!-- a form to create new recipe -->
                <div id="new_recipe_field" style="display: none"></div>

                <!-- a form to paste a URL for web scraping -->
                <div id="scraped_recipe_field" style="display: none"></div>

                <!-- search results -->
                <div id="search_results">
                    <div id="searched_recipe_body"></div>
                </div>
                
            </div>

        </div>

    </div>

{% endblock %}
