{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}


{% block body %}
<!-- 
  <div>
    <div>
      <img src="">
    </div>

    <div>
      <form action="/signup" method="POST">
        <input type="text" placeholder="First name" name="fname">
        <input type="text" placeholder="Last name" name="lname">
        <input type="email" placeholder="Email" name="email" required>
        <input type="password" placeholder="Password" name="password" required>

        <input type="submit" name="submit" value="Continue">
      </form>
      <p>By creating an account, you are agreeing to our <a href="">Terms of Service</a> 
         and <a href="">Privacy Policy</a></p>
    </div>

    <div>
      <h5>Already have an account?</h5>
      <a href="/login">Log In</a>
    </div>

  </div> -->

  <div class="main" style="background-image: url('/static/images/dot-grid.png')">
	<section class="signup">
		<div class="container-form">
			<div class="signup-content d-flex justify-content-center align-items-center">
				<div class="signup-form">
					<h2 class="form-title">Sign up</h2>
					<form method="POST" class="register-form" id="register-form" action="/signup">
						<div class="form-group">
							<label for="fname">
								<svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
							  	</svg>
							</label>
							<input type="text" name="fname" id="fname" placeholder="Your First Name"/>
						</div>
						<div class="form-group">
							<label for="lname">
								<svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/></svg>
							</label>
							<input type="text" name="lname" id="lname" placeholder="Your Last Name"/>
						</div>
						<div class="form-group">
							<label for="email">
								<svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-envelope" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/></svg>
							</label>
							<input type="email" name="email" id="email" placeholder="Your Email"/>
						</div>
						<div class="form-group">
							<label for="password">
								<svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-lock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M11.5 8h-7a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1zm-7-1a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-7zm0-3a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/></svg>
							</label>
							<input type="password" name="password" id="password" placeholder="Password"/>
						</div>

						<small id="emailHelp" class="form-text text-muted">By creating an account, you are agreeing to our Terms of Service and Privacy Policy</small>
						
						<div class="form-group form-button">
							<button class="btn my-2 my-sm-0 btn-primary" type="submit" id="submit_button" value="submit_button">Submit</button>
						</div>
					</form>
				</div>
				<div class="signup-image">
					<figure><img width="350px" height="350px" class="img-fluid rounded-circle" src="/static/images/006.jpg"></figure>
					<a href="/login" class="signup-image-link">Already have an account? Log In</a>
				</div>
			</div>
		</div>
	</section>
</div>



{% endblock %}